{% extends 'base.html' %}
{% block 'body' %}

<div class="hero-wrap js-fullheight" style="background-color: cornflowerblue;">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
        <div class="col-md-9 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
          <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><strong> Welcome <br></strong> Here you can find your perfect roommate match</h1>
          <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Find great places to stay, and rent your perfect room </p>
          <div class="block-17 my-4">
          </div>
          <p class="browse d-md-flex">
            {% if request.user.is_authenticated %}
              <span class="d-flex justify-content-md-center align-items-md-center"><a href="{% url 'roommseters:room_list' %}"><i class="flaticon-find"></i> List a place </a></span>
              <span class="d-flex justify-content-md-center align-items-md-center"><a href="{% url 'blog:serachers_list' %}"><i class="flaticon-serach"></i> Find a place </a></span> 
            {% else %}
              <span class="d-flex justify-content-md-center align-items-md-center"><a href=" {% url 'login' %} "><i class="flaticon-meeting-point"></i> Login </a></span> 
              <span class="d-flex justify-content-md-center align-items-md-	center"><a href="{% url 'accounts:signup' %}"><i class="flaticon-shopping-bag"></i> Join us </a></span>
              {% endif %}
          </p>
        </div>
      </div>
    </div>
  </div>

  <section class="ftco-section services-section bg-light">
    <div class="container">
      <div class="row d-flex">
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
            <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-guarantee"></span></div></div>
            <div class="media-body p-2 mt-2">
              <h3 class="heading mb-3">Roommates</h3>
              <p> Offer your extra room for rent, and find your perfect roommate </p>
            </div>
          </div>      
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
            <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-like"></span></div></div>
            <div class="media-body p-2 mt-2">
              <h3 class="heading mb-3"> Coustom Serach </h3>
              <p> don't found the place that you want ? you can ask for good match ! </p>
            </div>
          </div>    
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
            <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-detective"></span></div></div>
            <div class="media-body p-2 mt-2">
              <h3 class="heading mb-3"> Good Price </h3>
              <p>If you can't afford  to buy a place alone, you can share one </p>
            </div>
          </div>      
        </div>
        <div class="col-md-3 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
            <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-shopping-bag"></span></div></div>
            <div class="media-body p-2 mt-2">
              <h3 class="heading mb-3"> Similar Lifestyle </h3>
              <p> Here you can find a roommate who shares the same interests and lifestyle as you</p>
            </div>
          </div>      
        </div>
      </div>
    </div>
  </section>
  


 
{% endblock 'body' %}