{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block 'body' %}
<div class="hero-wrap js-fullheight" style="background-image: url({% static 'images/bggray1.jpg' %});">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
			data-scrollax-parent="true">
			<div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
				<p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span
						class="mr-2"><a href="{% url 'home:home' %}">Home</a></span> <span>Login</span></p>
				<h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Login</h1>
			</div>
		</div>
	</div>
</div>
<div class="m-5">
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    
    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}
    
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary py-3">log in</button>
        {% endbuttons %}
    </form>
    </form>
    
    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Lost Password?</a></p>
    <p><a href="{% url 'accounts:signup' %}">Create an account</a></p>
</div>

{% endblock 'body' %}
